.header{
  text-align: center;
  background-color: white;
  h1{
    font-weight: bold;
  color: darkslategrey;
  margin-bottom: 0.05rem;
  }
}

.btn-primary{
  background-color: darkslategrey;
  border-color: darkslategrey;
}

.btn-gradient{
  background: linear-gradient(darkslategrey, darkslategrey);
  border-color: darkslategrey;
}

.fa-regular{
  color: gold;
  margin-left: 5px;
}

.container-fluid{
  background-color: white;
}

.search-bar{
  background-color: white;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  background-color: white;
  .card{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    background-color: snow;
    border: light lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .card-image{
    //width: 300px;
    //height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  .card-info{
    margin-left: 10px;
    font-weight: bolder;
    li{a{
      text-decoration: none;
      color: darkslategrey
    }
      list-style: none;
    }
    p{
      font-weight: lighter;
    }
  }
}
