.img-fluid{
  width: 2000px;
  height: 600px;
  padding: 10px;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.container{
  display: flex;
}

.venue-info{
  width: 1200px;
  margin-left: 40px;
  margin-top: 10px;
  border: 1px solid rgb(195, 193, 193);
  border-radius: 2%;
  height: 600px;
  padding: 20px;
  background-color: white;
  transition: 1s;
}

.fa-solid{
  margin-right: 5px;
}

.show-btns{
  margin-left: 300px;
}

.add-a-review{
  margin-left: 50px;
}

.review{
  margin-left: 50px;
}

.comment-box > .review_comment > input {
  width: 300px !important;
  height: 100px !important;
  position: relative;
}
