<h1> A list of all Bookings for a specific user</h1>

<ul>
  <% @bookings.each do |booking| %>
   <li><%= booking.date%><li>
   <li><%= booking.time_frame%><li>
   <li><%= booking.number_of_guest%><li>
   <% end %>
</ul>
