<<<<<<< HEAD
<h4><%= @booking.date %></h4>
<p><%= @booking.time %></p>
<p><%= @booking.participants %></p>

<%= link_to "Delete",
  booking_path(@booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
=======
>>>>>>> 1d2009d255ceba6db6de8fb53d7f10d009952cdb
