<h2><%= @booking.date %></h2>
<p><%= @booking.time %></p>
<p><%= @booking.participants %></p>

<%= link_to "Delete",
  booking_path(@booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

