<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.embo.org/wp-content/uploads/2021/04/blog_image_conference_room_final.jpg);">
  <div class="container">
    <h1>air_conference <strong> - </strong> where <strong>you find the ideal venue for your event</strong>!</h1>
    <p>Book a venue for your next event</p>
    <a class="btn btn-gradient" href="#">Book a venue</a>
     <!--<a class="btn btn-gradient" href="venues/:venue_id/bookings/new">Add a venue</a>-->
     <button class = "btn btn-success"> <%= link_to "Add a Venue", new_venue_path%> </button>
  </div>
</div>

<!--
<div class="card" style= "background-image: url(https://www.wework.com/ideas/wp-content/uploads/sites/4/2021/08/20201008-199WaterSt-2_v1-scaled.jpg);">
Moka Business center
</div>
<div class="card" style= "background-image: url(https://www.ticati.com/img/hotel/14324434s.jpg);">
Ebene Business center
</div>
<div class="card" style= "background-image: url(https://www.ticati.com/img/hotel/14324436s.jpg);">
Saint-pierre Business center
</div>
-->
