<h1> DISPLAY ONLY the venues OF AN OWNER + ADD A VENUE BUTTON</h1>
<h1> DISPLAY All the venues FOR A USER WHO IS NOT AN OWNER -  ADD A VENUE BUTTON </h1>

<ul>
  <% @venues.each do |venue| %>
    <li><%= link_to venue.name, venue_path(venue) %></li>
  <% end %>
</ul>

<%= link_to "ADD A VENUE", new_venue_path(@venue)%>
